<!doctype html>
<html>
<head>
  <title>internal-qa-tool</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Internal QA Tool</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="admin">Admin</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <div class="box" id="box">
    <div class="chat-box">
      <div id="messages"></div>
    </div>
  </div>
  <form action="">
    <div class="input-group">
      <input id="m" type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" style="margin-bottom: 4px;" type="submit">Send!</button>
      </span>
    </div>
  </form>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">Internal QA Tool.</p>
  </div>
</footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(function () {
        var socket = io();
        $('form').submit(function () {
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
        });
        socket.on('chat message', function (msg) {
            $('#messages').append($('<li>').text(msg).addClass('col-md-6 col-md-offset-4 chat-hukidashi someone').wrap('<div />'));
        });
        socket.on('bot message', function (msg) {
            $('#messages').append($('<li>').text(msg).addClass('col-md-6 chat-hukidashi').wrap('<div />'));
            $('#box').delay(100).animate({
                scrollTop: $(document).height()
            },1000);
        });
    });
</script>
</html>